body {
    background-image: url('/./images/index/back4.jpg'); /* Путь к изображению */
    background-size: cover; /* Растягивает изображение, чтобы оно покрывало весь экран */
    background-position: center; /* Выравнивает изображение по центру */
    background-attachment: fixed; /* Закрепляет фон, чтобы он не прокручивался */
    margin: 0; /* Убирает отступы по умолчанию */
    padding: 0; /* Убирает отступы по умолчанию */
    height: 100vh; /* Задает высоту страницы на весь экран */
}
.container-services{
    margin: 2px auto;
    padding: 1px;
    max-width: 1200px;
    margin-top:150px;
}

/* Контейнер с карточками услуг */
.services-container {
    display: none;
    grid-template-columns: repeat(4, 1fr); /* Всегда 4 в ряду */
    gap: clamp(5px, 2vw, 20px); /* Отступы уменьшаются при сужении экрана */
    width: 100%;
    padding-bottom: 90px;
}

/* Делаем активный контейнер видимым */
.services-container.active {
    display: grid;
}

/* Карточка услуги */
.service {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 3 / 7; /* Соотношение сторон */
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: min(1vw, 5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Картинка внутри карточки */
.service img {
    width: 100%;
    height: 60%;
    object-fit: cover; /* Обрезает без искажений */
    border-radius: 5px;
}

/* Заголовок */
.service h3 {
    font-size: clamp(7px, 1.4vw, 20px);/* Уменьшается при сужении экрана */
    margin: 4px 0;
}

/* Описание */
.service p {
    font-size: clamp(5px, 1.4vw, 18px);/* Уменьшается, но не меньше 1rem */
    margin: 4px 0;
}

/* Цена */
.service .price {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #ff6600;
    margin: 4px 0;
    font-size: clamp(7px, 1.4vw, 20px); /* Цена тоже уменьшается */
}

/* Эффект при наведении */
.service:hover {
    transform: scale(1.05);
}
.container-portfolio{
    margin-top: 150px;
    max-width: 1200px;
    margin: 2px auto;
    padding: 1px;
}

/* Контейнер с карточками */
.portfolio-container {
    display: none;
    grid-template-columns: repeat(4, 1fr); /* Всегда 4 в ряду */
    gap: clamp(5px, 2vw, 20px);  /* Пространство между фото уменьшается при сужении экрана */
    width: 100%;
    padding-bottom: 90px;
}

/* Делаем активный контейнер видимым */
.portfolio-container.active {
    display: grid;
}

/* Карточка изображения */
.portfolio {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 4; /* Соотношение сторон 4:3 */
}

/* Изображение */
.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезает без искажений */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Эффект при наведении */
.portfolio img:hover {
    transform: scale(1.05);
}
.menu {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direcrion:1;
    top: 100px;
}

.menu button {
    flex:1;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu button:hover {
    transform: scale(1.2);
    color: #ff6600;
}

/* Шапка */
.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    gap:0;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;

}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 90px;
}

.header-left {
    justify-content: flex-end;
    text-decoration: underline;
    font-size: 14px;
}

.header-right p{font-size: 14px;}
.header-right h2{font-size: 22px;}


.header-center {
    flex-grow: 1;
    max-width: 180px;
    display: flex;
    justify-content: center;
}

.logo {
    height: 90px;
    width: auto;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Навигация */
nav {
    display: flex;
    justify-content: center;
    background: #f1f1f1;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 900;
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
    transition: transform 0.3s
    ease, color 0.3s ease;
}

nav a:hover, nav a:active{
    transform: scale(1.2);
    color: #ff6600;
}

/* Социальные сети */
#socials {
    text-align: center;
}

.social-icons-up {
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-icons-down {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons-up img  {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons-down img  {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    padding-bottom: 90px;
}

.social-icons-up img:hover,
.social-icons-down img:hover {
    transform: scale(1.2);
}

#map {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределяем элементы по ширине */
    align-items: center; /* Выравниваем по вертикали */
    height: 430px; /* Высота карты */
    background:lightgray;
}

#map iframe {
    width: 50%; /* Карта занимает половину экрана */
    height: 100%; /* Карта занимает всю высоту контейнера */
}

.map-text {
    width: 50%; /* Текст занимает вторую половину */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 50px;
}

.map-text p {
    margin: 10px 0; /* Добавляем отступы между абзацами */
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
}

.modal-content {
    margin: 5% auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closeModal:focus,
.close:hover {
    color: #ff6600;
    text-decoration: none;
    cursor: pointer;
}

/* Футер */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    line-height: 5px;
}

.open-image {
    margin-top: 140px;
}

.action-banner {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    top: -5px;
}

.action-text {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-left: 0px;
}

.action-video {
    display: grid;
    place-items: center;  /* Центрирует элемент как по горизонтали, так и по вертикали */
    padding-bottom: 50px;
}

.action-image {
    display: grid;
    place-items: center;  /* Центрирует элемент как по горизонтали, так и по вертикали */
    padding-bottom: 50px;
}
h2{font-size: 30px;
    font-weight:900;

}

h3 {
    font-size: 24px;
    font-weight:700;
}

.action-display {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.action-display video {
    width: 40%; /* Устанавливаем видео на 100% ширины контейнера */
    max-width: 600px; /* Максимальная ширина видео */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.action-display img {
    width: 70%; /* Устанавливаем видео на 100% ширины контейнера */
    max-width: 600px; /* Максимальная ширина видео */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------------*/
/* Адаптация для телефонов */
@media (max-width: 1080px) {
    .container-portfolio{
        margin-top:70px;
    }
    /* Контейнер с карточками */
    .portfolio-container {
        padding-bottom: 50px;
    }
    .container-services{
        margin-top:70px;
    }
    /* Контейнер с карточками */
    .services-container {
        padding-bottom: 50px;
    }
    .header {
        height: 60px;
        text-align: center;
        font-size: 8px;
    }

    .menu {
        margin-left: 50px;
        margin-right: 50px;
        top: 50px;
    }

    .menu button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .header-left {
        margin-left: 2px;
        width: 125px;
        font-size: 8px;
        height: 45px;
    }

    .header-right {
        width: 125px;
        height: 45px;
    }

    .header-right p {
        font-size: 8px;
    }

    .header-right h2 {
        font-size: 12px;
    }

    .header-center {
        max-width: 80px;
    }

    .logo {
        height: 50px;
    }

    nav {
        top: 60px;
        padding: 1px;
    }

    nav a {
        font-size: 10px;
    }

    .open-image {
        margin-top: 70px
    }

    /* Футер */
    footer {
        padding: 1px 0;
        font-size: 12px;
        line-height: 4px;
    }

    /* Кнопки меню */
    .menu {
        margin-left: 50px;
        margin-right: 50px;
        top: 100px;
    }

    .menu button {
        padding: 5px 10px;
        font-size: 10px;
    }

    .portfolio-container {
        padding-bottom: 50px;
    }

    /* Грид сетка услуг */
    .services-container {
        padding-bottom: 50px;
    }

    #map {
        flex-direction: column;
        height: 500px; /* Высота карты */
    }

    #map iframe {
        width: 100%; /* Карта занимает половину экрана */
    }

    .map-text {
        width: 85%; /* Текст занимает вторую половину */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        padding-left: 0px;
    }

    .header-left p {
        height: 9px;
    }

    .map-text p {
        margin: 2px 0; /* Добавляем отступы между абзацами */
    }

    .social-icons-up {
        height: 22.5px;
        gap: 10px;
    }

    .social-icons-up img {
        width: 15px;
        height: 15px;
    }

    h2 {
        font-size: 18px;
        font-weight: 900;

    }

    h3 {
        font-size: 12px;
        font-weight: 700;
    }
}
